.navbar {
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid rgb(228, 228, 228);
}

.navbar ul {
   display: flex;
   align-items: center;
   padding: 20px 0;
}

.navbar ul li {
   padding: 0 15px;
}

.navbar ul li a {
   text-decoration: none;
   color: rgb(58, 57, 57);
}

.navbar ul li a:hover {
   text-decoration: underline;
   color: rgb(17, 17, 17);
}
/* react-icons not show in 768px upper width and show less than 768px  */
.navbar ul li:nth-child(1) {
   display: none;
}

.navbar ul li:nth-child(1) svg {
   vertical-align: sub;
}

@media screen and (max-width : 768px) {
    .navbar ul li:nth-child(1) {
       display: block;
       cursor: pointer;
    }
 }