.articlesContainer{
    background: #fff;
    margin: 30px 16px;
    padding: 32px 16px;
    border-radius: 10px;
}

.articlesContainer h4{
    margin: 16px 0;
}

.articlesContainer p{
    font-size: 14px;
    color: rgb(107, 106, 106);
    line-height: 22px;
    text-align: justify;
  
}