.About-module__suJDDW__aboutContainer{background:#fff;border-radius:10px;margin:30px 16px;padding:32px 16px}.About-module__suJDDW__aboutContainer h4{margin:16px 0}.About-module__suJDDW__aboutContainer p{color:#6b6a6a;font-size:14px}
